@media (max-width: 991px) {
    header{
        padding: 32px 24px;
    }
    #home{
        background-image: url(../../images/mobile/image-header.jpg);
        padding-top: 154px;
    }
    h1{
        font-size: 42px;
        letter-spacing: 8px;
        margin-bottom: 10%;
    }
    .padding-col{
        text-align: center!important;
        padding: 72px 25px;
        align-items: center;
    }
    h2{
        font-size: 32px;
        width: 95%;
    }
    .padding-col p{
        line-height: 30px;
        padding: 40px 0;
    }
    #about .row:nth-child(1){
        flex-direction: column-reverse;
    }
    .graphic-container, .photo-container{
        overflow: hidden;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    .graphic-container img, .photo-container img{
        height: 100%!important;
        width: unset!important;
    }
    .info{
        padding: 17% 5%;
    }
    .info p{
        font-size: 16px;
    }
    #clients{
        padding: 68px 0;
    }
    .opinion{
        width: 100vw;
    }
    h4{
        font-size: 16px;
        padding: 0!important;
    }
    .opinion p{
        margin: 42px 0;
        padding: 0 6%;
    }
    .btn-menu-mobile{
        display: unset;
        border: unset;
    }
    .nav-content{
        display: none;
    }
    .nav-mobile ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .nav-mobile{
        position: absolute;
        top: 54px;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #FFFBF8;
        width: 329px;
        padding: 46px 94px 39px;
    }
    .nav-mobile ul li{
        margin-right: unset;
        margin-bottom: 32px;
    }
    .nav-mobile ul li a{
        color: #606165;
    }
    .nav-mobile button{
        background-color: #FBD601;
    }
    .nav-mobile ul::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 9px solid #fffbf8;
        border-right: 15px solid transparent;
        border-top: 15px solid #fffbf8;
        border-bottom: 10px solid transparent;
        right: 0;
        bottom: 100%;
        transform: rotateZ(180deg);
    }
}
