:root{
    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;
}
body{
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--barlow);
    color: #233040;
    background-color: #FFFBF8;
}
ul{
    padding: unset;
    margin: unset;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: unset;
    width: fit-content;
}
a:hover{
    color: unset;
}
h1, h2, h3, h4, h5{
    font-family: var(--fraunces);
}
h1, h4{
    font-weight: 700;
}
h2, h3, h5{
    font-weight: 900;
}
p{
    margin: unset;
    color: #878592;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 48px 0px 40px;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-right: 48px;
}
nav ul li a{
    color: #FFFFFF;
}
button{
    padding: 18px 30px;
    text-transform: uppercase;
    font-family: var(--fraunces);
    font-size: 15px;
    border-radius: 40px;
    border: unset;
}
.navbar-toggler{
    padding: unset;
    border: unset;
    color: #FFFFFF;
}
.navbar-toggler svg{
    font-size: 26px;
}
#home{
    height: 100vh;
    background-image: url(../../images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    padding-top: 11.5%;
}
h1{
    font-size: 58px;
    text-transform: uppercase;
    letter-spacing: 13px;
    color: #FFFFFF;
    margin-bottom: 90px;
}
#about img{
    width: 100%;
    height: 100%;
}
.padding-col{
    padding: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    font-size: 40px;
    width: 95%;
}
.padding-col p{
    line-height: 30px;
}
.btn-learn{
    font-family: var(--fraunces);
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}
.btn-learn::before{
    content: '';
    width: 120%;
    height: 10px;
    border-radius: 40px;
    display: block;
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -8%;
    opacity: .3;
}
.padding-col:nth-child(odd) .btn-learn::before{
    background: #FFD302;
}
.padding-col:nth-child(even) .btn-learn::before{
    background: #FE7261;
}
#services img{
    width: 100%;
    height: 100%;
}
.info{
    position: absolute;
    bottom: 0;
    padding: 8% 30%;
}
h3{
    font-size: 28px;
    margin-bottom: 35px;
    text-transform: capitalize;
}
.info p{
    line-height: 27px;
}
.graphic h3, .graphic p{
    color: #225449;
}
.photo h3, .photo p{
    color: #1F5168;
}
#clients{
    padding: 160px 15%;
}
h4{
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #878592;
}
.opinion img{
    width: 72px;
    border-radius: 50%;
    margin-top: 80px;
}
.opinion p{
    color: #606165;
    margin: 65px 0 78px;
    padding: 0 9%;
}
h5{
    font-size: 18px;
}
.opinion p:last-child{
    color: #878592;
    margin: unset;
    font-size: 14px;
}
#gallery img{
    width: 100%;
}
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 72px;
    align-items: center;
    background-color: #90D4C5;
}
footer ul{
    display: flex;
    justify-content: center;
}
.nav-footer{
    margin: 47px 0 90px;
}
.nav-footer li{
    margin: 0 30px;
}
.nav-footer li a{
    color: #2C7566;
}
.social-media li{
    margin: 0 14px;
}
.attribution { 
    font-size: 11px; text-align: center;
    position: absolute;
    bottom: 0;
}
.attribution a { 
    color: #3e52a3; 
}